/* Reset de márgenes para que nada empuje el contenido */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  --primario: #236612;
  --verde-uni: #228b22;
  --blanco-transp: rgba(255, 255, 255, 0.95);
}

.contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  background-color: var(--verde-uni); /* Color de fondo base */
  background-image: url("https://scontent-dfw5-1.xx.fbcdn.net/v/t1.6435-9/204333792_1825189207662628_183787213123152409_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=2a1932&_nc_eui2=AeFIhbWqc-aQ9XkLFiZ_Mffx6BVopqvTia7oFWimq9OJrhvZvEzTZPf9N0OkUrcml83XXABhWLns8_zrU-HfMo74&_nc_ohc=SlhKHLQNTwAQ7kNvwGyNXCC&_nc_oc=AdkLJRzlwlX6BaZ5OLpSmcQj-TMJqtH7MuA_3xz0O_Otjj1z7cK7K6PPm0wc2AiNAF0cn-3BNTs76NQnZTDagHtr&_nc_zt=23&_nc_ht=scontent-dfw5-1.xx&_nc_gid=I7ZBTO1X3mqbLCux6unz4A&_nc_ss=8&oh=00_Afwsb6BB7xsNz_H5ZjqpeQO7GkttYKZVxwtTfRFLNZGnRw&oe=69DA5A05"); /* Opcional */
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  color: #000000;
  background: var(--blanco-transp);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
  text-align: center;
  width: 90%;
  max-width: 400px;
  position: relative;
  z-index: 5;
}

/* Logos en las esquinas */
.logo-esquina {
  position: absolute;
  top: 20px;
  width: 80px;
  z-index: 10;
}
.izq { left: 20px; }
.der { right: 20px; }

.titulo { color: var(--primario); margin-bottom: 20px; }

.input-estilo {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #444; /* Fondo oscuro como en tu imagen */
  color: rgb(255, 255, 255);
  text-align: center;
  box-sizing: border-box;
}

.input-estilo::placeholder { color: #bbb; }

.btn-accion {
  width: 100%;
  padding: 15px;
  background-color: var(--primario);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

.btn-accion:hover { opacity: 0.9; }